@using Microsoft.AspNetCore.Identity
@using CursedPathWebApp.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (User.IsInRole("Admin") || User.IsInRole("Band Member"))
{
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Schedule</a>
        <a asp-area="" asp-controller="Band" asp-action="Chat">Message Board</a>
        <a href="#">Personal Notes</a>
    </div>
    <ul class="nav navbar-nav navbar-left">
        <li><a asp-area="" asp-controller="Band" asp-action="Index">
            <i class="glyphicon glyphicon-cd"></i>
            <b>bANd PagE</b>
            </a>
        </li>
    </ul>
    <button class="glyphButton" onclick="openNav()"><i class="glyphicon glyphicon-menu-hamburger"></i></button>
    
}