@using Microsoft.AspNetCore.Identity
@using CursedPathWebApp.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (User.IsInRole("Admin") || User.IsInRole("Band Member"))
{
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a asp-area="" asp-controller="Schedule" asp-action="Index">Schedule</a>
        <a asp-area="" asp-controller="Band" asp-action="Chat">Message Board</a>
        <a asp-area="" asp-controller="Setlist" asp-action="Index">Setlist</a>
    </div>
    <button class="glyphButton" id="openButt" onclick="openNav()"><i class="glyphicon glyphicon-menu-hamburger"></i></button>
    
}

@if (User.IsInRole("Admin"))
{
    <ul class="nav navbar-nav navbar-left">
        <li><a asp-area="" asp-controller="ApplicationRole" asp-action="Index">
            <i class="glyphicon glyphicon-edit"></i>
            <b>ADMIN PAGE</b>
            </a>
        </li>
    </ul>
}