@model IEnumerable<CursedPathWebApp.Models.BlogPost>
@using CursedPathWebApp.Models
@{
    ViewBag.Title = "Headline Archive";
}

<h2>@ViewBag.Title</h2>

<div class="container" id="archive-container">
    @foreach (BlogPost post in Model)
    {
        <div class="row">
            <h3 class="archive-post-title">@post.Title</h3>
            <div class="archive-post-date">@post.DatePosted</div>
            <div class="archive-post-content">
                @Html.Raw(post.ContentHTML)
            </div>
        </div>
    }
</div>
